nav.buttons ul {
	padding: 0px;
}
nav.buttons ul li {
	margin: 0px; padding: 0px; display: inline-block; list-style-type: none;
}
ul.noteList {
	padding: 0px 1em; border: 1px solid rgb(153, 153, 153);
}
ul.noteList li {
	margin: 0.25em 0px; display: block; list-style-type: none;
}
ul.noteList li.noteEmpty {
	display: none;
}
ul.noteList li:last-child.noteEmpty {
	display: block;
}
ul.noteList li.noteEmpty span {
	color: rgb(170, 170, 170);
}
ul.noteList li ul {
	margin: 0px; padding: 0px; display: block;
}
ul.noteList li ul li {
	margin: 0px 0.12em; padding: 0px; display: inline-block; list-style-type: none;
}
ul.noteList input.noteItemValue {
	width: 5em;
}
.notSupportedMessage {
	color: red; font-weight: bold; display: none;
}
.notSupported .notSupportedMessage {
	display: block;
}
